<!DOCTYPE html>
<html>
<head>
  <title>Expat</title>
  <%= stylesheet_link_tag    "expat/application", media: "all" %>
  <%= javascript_include_tag "expat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
