<table>
  <% @translations.each do |key, value| %>
    <tr>
      <td>
        <%= key %>
      </td>
      <td>
        <%= link_to value, edit_locale_translation_path(
            locale_id: @locale, id: key) %>
      </td>
    </tr>
  <% end %>
</table>
